body
{
    background-color: #f6f6f6;
    color: #4C4E4E;
    font-family: 'Titillium Web', sans-serif;
}


/*.contenedorBarraSuperiorInicio
{
    background: none;
}*/

.contenedorBotoneraPantallaInicio
{
    background: #399C6E;  
    top: 148px;
    color: #fff;
    height: 50px;
}

.botonMenuInicio span
{
    color: #fff;
}

.botonMenuInicio:hover
{
    background-color: #00c562;
    color:  #fff;
    outline: none;
}

.btnSeleccionado
{
    font-weight: bold;    
    background-color: transparent;
    color: #fff;
    padding-bottom: 10px;
}

.btnSeleccionado:hover
{    
    color: #fff;    
}

.contenedorBarraInferior
{
    background-color: white;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    border-radius: 20px;
    bottom: -10px;
    border: solid 1px red;
    transform: translateY(100%);
    transition: all .5s ease;
}

.contenedorBarraInferior.entra {
  transform: translateY(-30px);
}

.contenedorBarraInferior span
{
    color: #transparent;
}

.contenedorBarraSuperior
{
    display: none;    
}

.contenedorDtoActivo
{
    top: 32px;
}

.contenedorHorarioHoy
{
    top: 42px;
    color: greenyellow;
    background-color: #0F1623;
}

.glyphicon-time
{
    display: none;
}

.botonIniciarSesion
{    
    float:right;
    margin-right:35%;
    color: #4C4E4E;        
    text-align: center;  
    text-decoration: none;
    cursor: pointer; 
    margin-top: 13px;
}

.botonIniciarSesion:hover
{    
    color: #4C4E4E;
    text-decoration: underline;
}

.botonCerrarSesion
{   
    float:right;
    margin-right:35%;
    color: #4C4E4E;        
    text-align: center;  
    text-decoration: none;
    cursor: pointer; 
    margin-top: 13px;
}

.botonCerrarSesion:hover
{    
    color: #4C4E4E;    
    text-decoration: underline;
}

#contenedorEmailUsuarioBarraSuperiorInicio
{    
    top: 58px;
    right: 2%;
    color: #ED700A;
}

#contenedorEmailUsuarioBarraSuperiorInicio span
{    
    display: none;
}

.contenedorTituloCategoria
{
    color: #0F1623;
}

.contenedorBotoneraCategorias
{    
    text-align: center; 
    background: #00c562;
    color: #fff;
}

/* CARGANDO */
.contenedorPanelCargando
{
    display: inline-block;
    position: fixed;        
    width: 60px;
    height: 58px;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    margin-top: -27px;
    color: black;
    text-align: center;        
}

.contenedorIconoCargando
{
    display: none;
}
.contenedorImgGifCargando
{
    display: none;    
}
.contenedorTextoCargando
{
    display: none;
    color: transparent;    
}
.contenedorLogoCargando
{    
    width: 128px;
    height: 128px;        
    background: no-repeat url("../resources/commerce/100/logos/logo128_trans.png");
    background-position-x: center;
    background-position-y: center;
    opacity: 1;
}
/* FIN : CARGANDO */

/* TITULOS GENERALES DE SECCIONES */
.textoSombra_Titulo
{
    color: #4C4E4E;
    font-size: 18px;
}

.contenedorTituloCategoria
{
    display: inline-block;
    max-width: 897px;
    width: 100%; 
    vertical-align: top;
    text-align: left;        
    margin-bottom: 5px;
    min-height: 40px;        
    border-radius: 0px;        
    padding: 10px;    
    font-weight: bold;
    font-size: 18px;        
    background-image: none;
    background: #ED700A;  
    text-shadow: none;
}

.contenedorProducto
{
    border-radius: 5px;
    width: 430px;
    margin: 10px 0 0 13px;
}

/* CUADRATIZAR BOTONES */
.boton_IngresarTelefono
{    
    border-radius: 0px;
    box-shadow: none;
}
.boton_Entrar
{
    border-radius: 0px;
    box-shadow: none;
    background-color: #ED700A;
    color: #0F1623;
}
.boton_registrarme
{
    border-radius: 0px;
    box-shadow: none;
    background-color: #ED700A;
    color: #0F1623;
}
.boton_GP
{
    border-radius: 0px;
    box-shadow: none;
}
.boton_FB
{
    border-radius: 0px;
    box-shadow: none;
}
.botonLogin
{
    border-radius: 0px;
    box-shadow: none;
    background-color: #ED700A;
    color: #0F1623;
}
.botonLogin_registro
{
    border-radius: 0px;
    box-shadow: none;
    background-color: #ED700A;
    color: #0F1623;
}
.contenedorDtoActivo
{
    display: none;
    visibility: hidden;
}


.botonCarrito{
    color: transparent;
    background-image: url('http://www.surbit.uy/DelysoftApp/resources/commerce/100/res/custom/img/botoncarrito.png');
    background-repeat: no-repeat;
}

/*Categoría Producto*/

#contenedorCategoria1 {
    background-color:#ffd54f; 

}
#contenedorCategoria2 {
    background-color:#ffd78f; 

}

/*Identificado producto*/
.contenedorIdentificadorProductoEMP{
    color:#1c8e0a;
    /*width: 50px;
    height: 35px;*/
    top: 5px;
    background: url("http://www.surbit.uy/DelysoftApp/resources/commerce/100/res/custom/img/contenedorIdentificadorProducto@empanada.png") no-repeat center;
    background-image: url("http://www.surbit.uy/DelysoftApp/resources/commerce/100/res/custom/img/contenedorIdentificadorProducto@empanada.svg");
    background-size: contain;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}
.contenedorIdentificadorProductoEMP p{
    margin: 10px 0 0 0;
}


/* [ CONTENEDOR PRODUCTO ] -> CONTENEDOR NOMBRE DEL PRODUCTO */
.contenedorNombreProducto
{
    color: #d0661c;
    font-family: 'Amaranth', sans-serif;
    font-size: 1.5em;
    padding-left: 30px;
    text-transform: uppercase;
}
/* [ CONTENEDOR PRODUCTO ] -> CONTENEDOR PRECIO DEL PRODUCTO */
.contenedorPrecioProducto{
    font-size: 1.6em;
    font-weight: lighter;
    padding-right: 35px;
}
/* [ CONTENEDOR PRODUCTO ] -> CONTENEDOR DESCRIPCION DEL PRODUCTO */
.contenedorDescripcionProducto
{
    font-weight: lighter; 
    padding-left: 30px;
    padding-top: 5px;
    width: 75%;
}

#contenedorPantallaCarta{
    background-image: url(http://www.surbit.uy/DelysoftApp/resources/commerce/100/res/custom/img/back-wood.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
#contenedorCarta{
    margin-top: -45px;
}
.icon-cat{
    vertical-align: top; 
    display: inline-block; 
    color: #fff; 
/*    margin: 3px;
    width: 9%; */
    height: 70px;
}
.icon-nav{
    display: initial;
}
.icon-nav > .row {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: -30px;
}
.icon-nav > .row > .col-xs-2{
    display: inline-block;
    float: none;
}
.icon-tit {
   /* visibility: hidden;*/
    top: 45px;
    font-size: 10px;
}

/*iconos categorías*/
.carne{
    background: no-repeat center top url('../resources/commerce/100/res/custom/img/icon/icon-white__carne.svg');
}
.carne-cuch{
    background: no-repeat center top url('../resources/commerce/100/res/custom/img/icon/icon-white__carnecuch.svg');
}
.queso{
    background: no-repeat center top url('../resources/commerce/100/res/custom/img/icon/icon-white__queso.svg');
}
.pollo{
    background: no-repeat center top url('../resources/commerce/100/res/custom/img/icon/icon-white__pollo.svg');
}
.mar{
    background: no-repeat center top url('../resources/commerce/100/res/custom/img/icon/icon-white__mar.svg');
}
.vegetales{
    background: no-repeat center top url('../resources/commerce/100/res/custom/img/icon/icon-white__veg.svg');
}
.integrales{
    background: no-repeat center top url('../resources/commerce/100/res/custom/img/icon/icon-white__int.svg');
}
.pasteles{
    background: no-repeat center top url('../resources/commerce/100/res/custom/img/icon/icon-white__pasteles.svg');
}
.bebidas{
    background: no-repeat center top url('../resources/commerce/100/res/custom/img/icon/icon-white__bebida.svg');
}



/* CELULARES PEQUEÑOS */
@media (max-width: 520px)
{
    #contenedorPantallaCarta{
    background-attachment: initial;
}

    /* .contenedorFlotanteGeneral
    {
        display: inline-block;
        position: fixed;
        background-color: #FFF;
        width: 220px;
        min-height: 90px;
        left: 50%;
        top: 30px;
        margin-left: -110px;
        color: black;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px #333;
        visibility: hidden;
    } */
    .contenedorFlotanteGeneral.detalleProducto{
        width: 300px;
        margin-left: -150px;
    }
    .boton_Entrar.detalleProducto{
        width: 280px;
    }
    .contenedorBarraInferior{
    width: 80%;
    left: 50%;
    margin-left: -40%;
    }
    .contenedorProducto{
    width: 90%;
    margin: 1% 5% ;
    left: 0;
    }
    .contenedorIdentificadorProductoEMP{
        /*margin: -25px 30px 0 0;*/
    }
    .icon-cat{
    height: 100px;
    }
    .icon-tit{
        margin-top: 70px;
    }
    .icon-nav{
    display: block;
    }
    .contenedorBotoneraCategorias {
        padding: 2px 0;
    }
    .icon-nav > .row {
    margin-top: 0;
    }
}

@media (max-width: 919px){
    .contenedorBarraInferior {
    width: 80%;
    left: 50%;
    margin-left: -40%;
    }
    .contenedorProducto{
    width: 96%;
    margin-left: 2%;
    }
}
@media (min-width: 920px){
    .contenedorBarraInferior {
    width: 60%;
    left: 50%;
    margin-left: -30%;
    background-color: blue;
    }
    .contenedorProducto{
    width: 430px;
    margin: 10px 0 0 13px;
    }
    .icon-cat{
        margin: 3px;
        width: 9%; 
        height: 115px;
    }
    .icon-tit {
        visibility: visible;
        top: 75px;
        font-size: 12px;
        position: relative;
    }
    .contenedorBotoneraPantallainicio{
        top: 148px;
    }
}
